.form{
    /* border: 3px solid black; */
    
    backdrop-filter: blur(100px);
    mix-blend-mode:hard-light;
    /* box-shadow: 0 0 20px rgb(255, 193, 193); */
    /* background-color:#f3eded; */
}

.input-box{
    width: 25vw;
    height: 7vh;
    border: 3px solid rgba(255, 255, 255, 0.362);
}

.password{
    width: 25vw;
    height: 7vh;
    border: 3px solid rgba(255, 255, 255, 0.362);
}


.check-conditions{
    width: 25vw;
    height: 5vh;  
}

.submit-button{
    font-size: 3vh;
    width: 10vw;
    height: 7vh;
    border: 2px solid rgb(255, 255, 255);
    transition: all .3s linear;
}

.submit-button:hover{
    background-image: linear-gradient(90deg,rgb(239, 239, 115),rgb(143, 255, 199));
    color: rgb(6, 46, 57);
    border-color: black;
    transform: scale(1.1);
}

#usercheck{
    accent-color: rgb(95, 255, 172);
}

.mouseMove{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(45deg , rgb(175, 232, 217),rgb(124, 222, 225));
    filter: blur(40px);
    mix-blend-mode:screen;
    transition: all 0.2s linear;

    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}

.up{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(45deg , rgb(70, 177, 148),rgb(86, 137, 196));
    filter: blur(60px);
    transition: all 5s linear;
    mix-blend-mode:screen;
    animation: moveCircle 30s ease infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 5s linear;
}

.down{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(45deg , rgb(199, 57, 140),rgb(121, 91, 218));
    filter: blur(50px);
    transition: all 5s linear;
    mix-blend-mode:screen;
    animation: moveVertical 45s ease infinite;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-40%);
    transition: all 7s linear;
}

.left{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    background-image: linear-gradient(45deg , rgb(224, 244, 73),rgb(239, 165, 96));
    filter: blur(30px);
    transition: all 5s linear;
    mix-blend-mode:screen;
    animation: moveCircle 20s ease infinite;
    top: 50%;
    left: 50%;
    transform: translate(-70%,40%);
    transition: all 7s linear;
}

.right{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    background-image: linear-gradient(45deg , rgb(115, 229, 178rgb(241, 133, 171)4));
    filter: blur(30px);
    transition: all 5s linear;
    mix-blend-mode:screen;
    animation: moveVertical 25s ease infinite;
    top: 50%;
    left: 50%;
    transform: translate(60%,-40%);
    transition: all 7s linear;
}

@keyframes moveCircle {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }

    20%{
        border-radius: 50%;
        transform: translateX(300px) rotate(60deg) scale(1.5);
    }

    40%{
        transform: translateX(-500px) rotate(180deg);
    }

    60%{
        transform: translateY(-300px) rotate(240deg) scale(1.5);
    }

    80%{
        transform: translate(-500px,-200px) rotate(360deg);
    }

    100%{
        transform: translate(500px,300px) rotate(480deg);
    }

}

@keyframes moveVertical {
    0%{
        transform: translate(50%,-50%) rotate(480deg);
    }

    20%{
        transform: translateX(-300px) rotate(360deg) scale(1.5);
    }

    40%{
        transform: translateX(500px) rotate(180deg);
    }

    60%{
        transform: translateY(300px) rotate(240deg) scale(1.5);
    }

    80%{
        transform: translate(500px,200px) rotate(90deg);
    }

    100%{
        transform: translate(-500px,-300px) rotate(60deg);
    }
}